
<div class="container">
    <div *ngIf="movies" class="wrapper" else no_result>

        <div class="row ">

            <div *ngFor="let movie of movies.results" class="col-sm-3 col-md-3  col-xs-10 col-xs-offset-1 data-div">
                <a routerLink="/detail/{{movie.Id}}">
                    <img src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}" alt="poster" max-width="200px"
                        min-height="150px" class="img img-responsive " />
                    <div class="movie-list-descrip">
                        <span>{{ movie.release_date | date: "mm/dd/yyyy"}}</span>
                    </div>
                </a>
            </div>

        </div>
    </div>
    <ng-template #no_result>No result found</ng-template>
</div>