<div *ngIf="movie">
    <div class="panel panel-default movie-detail">
        <div class="row col-md-6 text-center"><button type="button" routerLink="/" class="btn btn-outline-secondary btn-sm">< back to upcoming </button>
        </div>
        <div class="panel-heading">
            <h2 class="text-center">{{movie.title}}</h2>
        </div>
        <div class="panel-body">

            <div class="row">

                <div class="col-md-6 text-center">
                    <img *ngIf="movie.poster_path" class="img-thumbnail"
                        src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
                    <img *ngIf="!movie.poster_path" class="img-thumbnail"
                        src="http://ddbu.billiardport.com/img/posters/no_poster_available.jpg">
                </div>

                <div class="card-overview col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Original Title:</strong> {{movie.title}}
                        </li>
                        <li class="list-group-item">
                            <strong>Overview:</strong> {{movie.overview}}
                        </li>
                        <li class="list-group-item">
                            <strong>Genres:</strong> <a href="#" class="btn-genre btn btn-secondary btn-sm disabled" role="button" aria-disabled="true" *ngFor="let gen of movie.genres">{{gen.name}}</a>
                        </li>
                        <li class="list-group-item">
                            <strong>Release Date:</strong> {{movie.release_date | date: 'MMMM d, y'}}
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>